*{
  box-sizing: border-box;
}

body{
  margin:20;
}
/* style of the header comment*/

  .header{
    background-color:#40E0D0;
    padding: 10px;
    text-align: center;
    float: center;

  }

  .topnav{background-color:#F0E68C;
  overflow: hidden;
/*a style of the nav bar*/
  }
  .topnav a{
    color:rgb(0, 0, 0);
    float: center;
    display: block;
    text-align: center;
    padding: 10px 13px;
  }

  /*style of change color on hover*/

.topnav a:hover{
  background-color: rgb(131, 170, 41);
  color: rgb(171, 212, 59);
}

/*create 3 equal columna that float next to each other*/
.column{
  float: left;
  width: 33.33%;
  padding: 15px;

}
